{% extends 'navbar.html' %}
{% block content %}
<meta charset="UTF-8"> 
    <meta name="viewport" content= 
        "width=device-width, initial-scale=1.0"> 
<!--Make sure the form has the autocomplete function switched off:-->
<form autocomplete="off" action="" method = "POST" style = "margin-bottom: 20px;">{% csrf_token %}
  <div class="autocomplete" style="width:90%;">
    <input id="myInput" type="text" name="state" id = "state" placeholder={{state}}>
  </div>
  <button type = "submit" class = "btn btn-primary">Get Data</button>
</form>
</div>
<div class = "card-deck">
  <div class="card mb-3" style="width: auto; background-color: black; color: orange;" id = "confirmed">
    <div class="card-body">
      <h5 class="card-title">Total</h5>
      <p class="card-text">{{ confirmed }}</p>
      
</div>
</div>
<div class="card mb-3" style="width: auto; background-color: black; color: lightskyblue;" id = "active">
    <div class="card-body">
      <h5 class="card-title">Active</h5>
      <p class="card-text">{{ active }}</p>
      
    </div>
  </div>
  <div class="card mb-3" style="width: auto; background-color: black; color: hotpink;" id = "deaths">
    <div class="card-body">
      <h5 class="card-title">Deaths</h5>
      <p class="card-text">{{ deaths }}</p>
      
    </div>
  </div>
<div class="card mb-3" style="width: auto; background-color: black; color: rgb(211, 31, 211);" id = "recovered">
  <div class="card-body">
    <h5 class="card-title">Recovered</h5>
    <p class="card-text">{{ recovered }}</p>
    
</div>
</div>
</div>
</div>
</div>
<div class = "card-deck">
<div class = "scroll">
  <div class="card mb-3 scroll" style="width: 300px; background-color: black; color: yellow; height: 550px;">
    <div class="card-body">
      <h5 class="card-title">States by Confirmed Cases</h5>
      <p class="card-text">{% for i in countries%}
                            <p>{{forloop.counter}} - {{i}}</p>
                            {% endfor %}
      </p>
    </div>    
  </div>
  </div>
  <div class="card mb-3" style="width: auto; height: 550px; background-color: black; color: rgb(211, 31, 211);" id = "recovered">
      <iframe height="auto" style = "width: 100%; height: 100%;"frameborder="0" scrolling="no" 
  marginheight="0" marginwidth="0" title="2019-nCoV" 
  src="//arcgis.com/apps/Embed/index.html?webmap=14aa9e5660cf42b5b4b546dec6ceec7c&extent=77.3846,11.535,163.5174,52.8632&zoom=true&previewImage=false&scale=true&disable_scroll=true&theme=light"
></iframe>
  </div>
</div>
<div class = "card-deck">
  <div class="card mb-3" style="width: auto; background-color: black; color: Green;" id = "confirmed">
    <div class="card-body">
      <h5 class="card-title">Recovery Rate</h5>
      <p class="card-text">{{ recovery_rate }}</p>
      
</div>
</div>
<div class="card mb-3" style="width: auto; background-color: black; color: red;" id = "active">
    <div class="card-body">
      <h5 class="card-title">Death Rate</h5>
      <p class="card-text">{{ death_rate }}</p>
      
    </div>
  </div>

</div>
<style>
  .scroll {
    overflow-y: auto;
  }
  .dropdown-menu {         
  max-height: auto;
  overflow-y: auto;
  }
  * { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
</style>
<script>
  function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
      var settings = {
	      "async": true,
	      "crossDomain": true,
	      "url": "https://covid-19-usa-data-by-zt.p.rapidapi.com/GetUSStateWiseData",
	      "method": "GET",
	      "headers": {
		      "x-rapidapi-host": "covid-19-usa-data-by-zt.p.rapidapi.com",
		      "x-rapidapi-key": "SIGN-UP-FOR-KEY"
	      }
      }

    $.ajax(settings).done(function (response) {
	  console.log(response);
    });
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
  }
}
/*execute a function when someone clicks in the document:*/
document.addEventListener("click", function (e) {
    closeAllLists(e.target);
});
}
var countries = ['Global','USA', 'California', 'Texas', 'Florida', 'New York', 'Georgia', 'Illinois', 'Arizona', 'New Jersey', 'North Carolina', 'Tennessee', 'Louisiana', 'Pennsylvania', 'Massachusetts', 'Alabama', 'Ohio', 'Virginia', 'South Carolina', 'Michigan', 'Maryland', 'Indiana', 'Missouri', 'Mississippi', 'Wisconsin', 'Washington', 'Minnesota', 'Nevada', 'Iowa', 'Arkansas', 'Oklahoma', 'Colorado', 'Connecticut', 'Utah', 'Kentucky', 'Kansas', 'Nebraska', 'Puerto Rico', 'Idaho', 'Oregon', 'New Mexico', 'Rhode Island', 'Delaware', 'District of Columbia', 'South Dakota', 'North Dakota', 'West Virginia', 'Hawaii', 'Montana', 'New Hampshire', 'Alaska', 'Maine', 'Wyoming', 'Guam', 'Vermont', 'Virgin Islands', 'Northern Mariana Islands']
autocomplete(document.getElementById("myInput"), countries);

</script>
<!-- Footer -->
<div class="card mb-4" style="width: auto; background-color: black; color:white;" id = "active">
  <div class="card-body">
    Credits: <a href = "https://www.nytimes.com">New York Times</a>, <a href = "https://www.jhu.edu">John Hopkins</a>
</div>
</div>
{% endblock %}